---
name: Generate live splits from markdown
on:
  push:
    branches: [master]
jobs:
  generate-splits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v31
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
            nix-path = nixpkgs=flake:nixpkgs

      - name: Extract split data
        run: |
          grep -oP '(?<=<!-- SPLIT: )([a-zA-Z0-9-]*)(?= -->)' JW_route.md > splits.txt

      - name: Generate split file
        run: ".github/workflows/gen_splits.sh"

      - name: Get date
        run: 'echo "OUT_DATE="$(date +"%Y-%m-%dT%H-%M-%S")"" >> $GITHUB_ENV'

      - name: Upload generated splits
        uses: actions/upload-artifact@v4
        with:
          name: "hk-ss-jw_${{ env.OUT_DATE }}_${{ github.sha }}.lss"
          path: splits.lss
